<%= javascript_tag do %>
	<!-- window.timeSets = JSON.parse('<%= raw time_sets.to_json(:include => {:affair => {:only => :name}}) %>') -->
<% end %>

<div id = "<%= time_sets_id %>", class = "time-sets table">
	<h2><%= h2Text %></h2>

	<div class = "heading">
		<div class = "cell">Name</div>
		<div class = "cell">Start time</div>
		<div class = "cell">duration</div>
	</div><!--/heading-->

	<div class = "row filters">
		<div class = "cell">
			<span>Group by:</span><button class = "active-filter" id = "all-time-sets">All</button><button id = "group-by-name">Name</button><button>Category</button>
		</div><!--/cell-->			
		<div class = "cell"></div>
		<div class = "cell"></div>			
	</div><!--/filters-->

	<div class = "tbody">
	<% time_total = 0 %>
	<% time_sets.each do |time_set| %>
		<% time_total += time_set.duration %>
		<%= javascript_tag do %>
			timeSet = new TimeSet(
				"<%= time_set.affair.name %>",
				"<%= time_set.time_start %>",
				<%= time_set.duration %>
			)
			timeSets.push(timeSet)
		<% end %>
		<div class = "row">
			<div class = "cell"><%= time_set.affair.name %></div>
			<div class = "cell"><%= time_set.time_start.localtime.strftime("%H:%M:%S") %></div>
			<div class = "cell"><%= Time.at(time_set.duration).utc.strftime("%H:%M:%S") %></div>
		</div><!--/row-->
	<% end %>
	</div><!--/tbody-->

	<div class = "tfoot total-time-sets">
		<div class = "cell">Total:</div>
		<div class = "cell"></div>
		<div class = "cell"><%= Time.at(time_total).utc.strftime("%H:%M:%S") %></div>
	</div><!--/tfoot-->

</div><!--/time-sets-->